BeautifulSoup4==4.7.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cx-Oracle==7.0.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-HTTPAuth==3.2.4
idna==2.7
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.1.1
passlib==1.7.1
python-json-logger==0.1.9
requests==2.22.0
six==1.11.0
urllib3==1.25.8
Werkzeug==0.15.3
WeasyPrint==47
ipdb==0.12.3
pypdftk==0.4
boto3==1.14.60
botocore==1.17.60
Flask-API==1.1
PyPDF2==1.26.0
pdfkit==0.6.1
beautifulsoup4==4.7.1

gunicorn==19.9.0
flake8==3.6.0
