beautifulsoup4==4.7.1
boto3==1.21.2
certifi==2022.12.7
cfenv==0.5.2
chardet==3.0.4
Flask==2.0.2
Flask-API==3.0.post1
Flask-Cors==3.0.9
Flask-HTTPAuth==3.2.4
Flask==2.0.2
GitPython==3.1.0
gunicorn==19.10.0
idna==2.7
invoke==0.15.0
ipdb==0.12.3
itsdangerous==2.1.0
Jinja2==3.0
MarkupSafe==2.0.1
passlib==1.7.1
pdfkit==0.6.1
PyPDF2==1.26.0
pypdftk==0.4
python-json-logger==0.1.9
requests==2.27.1
six==1.11.0
urllib3==1.26.8
WeasyPrint==47
